@import 'core/reset';

body {
  background-color: rgb(172, 168, 168);
}

//HEADER

.header {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  &__title {
    min-width: 150px;
  }
}

//CHARACTER LIST

.list {
  &__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-size: 2.8rem;
    padding-bottom: 20px;
  }
  &__grid--ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.card {
  width: 150px;
  height: 260px;
  overflow: hidden;
  background-color: rgb(177, 151, 5);
  border-radius: 5px;

  &__link {
    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 200px;

    margin: 0 auto;
  }

  &__containerText {
    color: white;
    font-size: 13px;
    padding: 5px;
  }
}
//CHARACTER

//FILTERS

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  font-size: 1.8rem;
  &__byHouse {
    display: flex;
    gap: 20px;
  }
  &__byName {
    display: flex;
    gap: 20px;
  }
}

//CHARACTER DETAIL

.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(137, 46, 46);
  color: white;
  width: 500px;
  height: 400px;
  font-size: 1.8 rem;
  margin: 0 auto;

  &__image {
    width: 100px;
  }
}
