@import 'core/reset';

body {
  background-color: rgb(172, 168, 168);
}

//HEADER

.header {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  &__title {
    min-width: 150px;
  }
}

//CHARACTER LIST

.list {
  &__grid--ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.card {
  width: 150px;
  height: 260px;
  overflow: hidden;
  background-color: rgb(177, 151, 5);
  border-radius: 5px;

  &__link {
    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  &__containerText {
    color: white;
    font-size: 13px;
    padding: 5px;
  }
}

//FILTERS

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  font-size: 1.8rem;

  &__byHouse {
    display: flex;
    gap: 20px;
    &--label {
      color: white;
    }
    &--select {
      background-color: rgb(172, 168, 168);
      border: 2px solid rgb(177, 151, 5);
      width: 200px;
      height: 25px;
      color: white;
    }
  }
  &__byName {
    display: flex;
    gap: 20px;
    &--label {
      color: white;
    }
    &--input {
      background-color: rgb(172, 168, 168);
      border: 2px solid rgb(177, 151, 5);
      width: 200px;
      height: 25px;
      color: white;
    }
  }
}

//CHARACTER DETAIL

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 70px;
  background-color: rgb(137, 46, 46);
  color: white;
  max-width: 500px;
  height: fit-content;
  font-size: 1.8 rem;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__image {
    &--img {
      width: auto;
      height: 250px;
      border-radius: 5px;
    }
  }

  &__text {
    font-size: 1.7rem;
    text-wrap: nowrap;

    &--status {
      display: flex;
      gap: 5px;
    }
    &--specie {
      display: flex;
      gap: 5px;
    }
    &--ul {
      list-style: none;
    }
  }
  &__li {
    padding-left: 10px;
  }
}
